@page "/timbra"
<div style="font-family: 'Franklin Gothic'; display: flex; justify-content: center; align-items: center;" class="container-fluid">
    <div class="immagine-e-titolo" style="display: inline-block; border: 2px solid black; border-radius: 10px; padding: 10px; text-align: center;">
        <h3>Timbrature</h3>
        <a href="/customtimbratura">
            <img src="/Immagini/worker-clocking_62132.png" width="180" height="180" alt="Clocking Worker Image" />
        </a>
    </div>
</div>